// colors

$main-color: #202d3e;
$light-color: #ffffff;
$dark-color: #000000;
$yellow-color: #ffd2a4;
$violet-color: #4f46e5;
$text-color: #475569;
$orange-color: #de8d09;
$table-color: #cbd5e1;
$light-cl: #f8fafc;

// font

$font: "Nunito Sans", sans-serif;
