.section-wrapper {
  margin-top: 45px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.section-wrapper__container {
  width: 40%;
}

.container-left {
  width: 60%;
}

.section-wrapper__image{
  margin-top: 35px;
}
