.sidechain {
  padding: 0 0 60px;
}

.sidechain__holder {
  padding: 60px 0;
}

.sidechain__wrapper {
  padding: 45px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.sidechain__text {
  margin-bottom: 15px;
}

.section-holder{
  margin-bottom: 45px;
}
